<div class="chart-container">
    <div class="departures">
        <div class="departures-hour identification-departure">DEPARTURES</div>
        <div class="departures-hour dh0500"></div>
        <div class="departures-hour dh0600"></div>
        <div class="departures-hour dh0700"></div>
        <div class="departures-hour dh0800"></div>
        <div class="departures-hour dh0800"></div>
        <div class="departures-hour dh1000"></div>
        <div class="departures-hour dh1100"></div>
        <div class="departures-hour dh1200"></div>
        <div class="departures-hour dh1300"></div>
        <div class="departures-hour dh1400"></div>
        <div class="departures-hour dh1500"></div>
        <div class="departures-hour dh1600"></div>
        <div class="departures-hour dh1700"></div>
        <div class="departures-hour dh1800"></div>
        <div class="departures-hour dh1900"></div>
        <div class="departures-hour dh2000"></div>
        <div class="departures-hour dh2100"></div>
        <div class="departures-hour dh2200"></div>
        <div class="departures-hour dh2300"></div>
    </div>
    <div class="hours">
        <div class="hour gray"></div>
        <div class="hour black h5">0500</div>
        <div class="hour yellow h6">0600</div>
        <div class="hour black h7">0700</div>
        <div class="hour yellow h8">0800</div>
        <div class="hour black h9">0900</div>
        <div class="hour yellow h10">1000</div>
        <div class="hour black h11">1100</div>
        <div class="hour yellow h12">1200</div>
        <div class="hour black h13">1300</div>
        <div class="hour yellow h14">1400</div>
        <div class="hour black h15">1500</div>
        <div class="hour yellow h16">1600</div>
        <div class="hour black h17">1700</div>
        <div class="hour yellow h18">1800</div>
        <div class="hour black h19">1900</div>
        <div class="hour yellow h20">2000</div>
        <div class="hour black h21">2100</div>
        <div class="hour yellow h22">2200</div>
        <div class="hour black h23">2300</div>
    </div>
    <div class="arrivals">
        <div class="departures-hour identification-departure">ARRIVALS</div>
        <div class="arrivals-hour ah0500"></div>
        <div class="arrivals-hour ah0600"></div>
        <div class="arrivals-hour ah0700"></div>
        <div class="arrivals-hour ah0800"></div>
        <div class="arrivals-hour ah0800"></div>
        <div class="arrivals-hour ah1000"></div>
        <div class="arrivals-hour ah1100"></div>
        <div class="arrivals-hour ah1200"></div>
        <div class="arrivals-hour ah1300"></div>
        <div class="arrivals-hour ah1400"></div>
        <div class="arrivals-hour ah1500"></div>
        <div class="arrivals-hour ah1600"></div>
        <div class="arrivals-hour ah1700"></div>
        <div class="arrivals-hour ah1800"></div>
        <div class="arrivals-hour ah1900"></div>
        <div class="arrivals-hour ah2000"></div>
        <div class="arrivals-hour ah2100"></div>
        <div class="arrivals-hour ah2200"></div>
        <div class="arrivals-hour ah2300"></div>
    </div>
</div>