.chart-container {
    display: grid;
    grid-template-rows: calc(50% - 10px) 20px calc(50% - 10px);
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.hours {
    display: grid;
    grid-template-columns: repeat(20, 150px)
}

.hour {
    width: 150px;
    justify-self: center;
    font-weight: bold;
    text-align: center;
    border: solid 2px black;
}

.departures {
    display: grid;
    grid-template-columns: repeat(20, 150px)
}

.departures-hour {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.arrivals-hour {
    overflow: auto;
}

.arrivals {
    display: grid;
    grid-template-columns: repeat(20, 150px)
}

.black {
    background-color: black;
    color: yellow;
}

.yellow {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.gray {
    background-color: gray;
    color: black;
    font-weight: bold;
}

.identification-departure {
    writing-mode: vertical-lr;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}